* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item {
    width: 200px;
    height: 200px;
}
#red {
    background-color: red;
    z-index: 0;
}
#green {
    background-color: green;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 2;
    transition: 1s;
}
#blue {
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 1;
}
#green:hover {
    transform: scale(1.5) rotate(-45deg);
}