* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgba(26, 188, 156, 1);
    height: 70px;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}
a:not(:last-child) {
    margin-right: 20px;
}
.social-icon:not(:last-child) {
    margin-right: 20px;
}
/* О нас */
.about {
    display: flex;
    align-items: center;
}
.about-img {
    width: 50%;
}
.about-info {
    padding: 0 65px;
}
h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px;
}
.about-descr {
    font-size: 20px;
    text-align: justify;
}
/* Наши проекты */
.projects {
    background-color: #DCFFEB;
    padding: 125px 0;
}
h2 {
    font-size: 35px;
    margin-bottom: 50px;
}
.projects-list {
    display: flex;
    gap: 35px;
}
.projects-item {
    width: calc(100% / 3 - 17px);
}
/* Контакты */
h3 {
    margin: 85px 0 55px;
    font-size: 35px;
    font-weight: normal;
}
.footer-info {
    display: flex;
    justify-content: space-between;
}
.footer-img {
    height: 30px;
    margin-bottom: 35px;
}
.footer-titel {
    font-size: 24px;
    color: #999999;
    margin-bottom: 25px;
}
.footer-item {
    text-align: center;
    margin-bottom: 75px;
}
.footer-descr {
    font-size: 24px;
    font-weight: bold;
}
.email {
    color: #F7654A;
}